<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VOICE ASSISTANT</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="toggle">
        <input type="checkbox" id="btn">
        <label for="btn">
            <span class="track">
                <span class="track-top">
                    <span></span><span></span><span></span><span></span><span></span>
                    <span></span><span></span><span></span><span></span><span></span>
                </span>
                <span class="track-bot">
                    <span></span><span></span><span></span><span></span><span></span>
                    <span></span><span></span><span></span><span></span><span></span>
                </span>
            </span>
            <span class="thumb"></span>
        </label>
        <div class="lights">
            <span class="light-off"></span>
            <span class="light-on"></span>
        </div>
    </div>
    <div class="outputs-text">
        <!-- Content with the outputs text class -->
        <p id="output-text">This is a sample text with the outputs text class.</p>
    </div>
    <footer>
      <p>&copy; 2024 Voice Assistant. All rights reserved.</p>
      <p>Developed by <a href="https://github.com/kakeru91lt" target="_blank">Bijay Tamang, Bidhya Devi Baram</a></p>
    </footer>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
